.container {
    display : flex;
}

h2:hover {
    background-image: url("images/salma.jpg");
    background-repeat: no-repeat;
    width:450px;
    height:450px;
}

img{
    width:350px;
    height:350px;
    margin-right: 30px;
}